.title{
	/*
	color: rgb();
	color:rgba();
	color:#fff000;
	color:blue;
	color:hsl();
	color: hsla()
	*/
	color: #aaa456;
}

.parrafo{
	font-size: 29px;
	font-family: helvetica;
	text-decoration:underline;

}
.precio{
text-decoration: line-through;}
.texto-bold{
	font-weight: bold;
}
.texto{
	font-size: 16px;
}
.contenido{
	color:black;
	font-family: arial,helvetica,monospace;
}

a{
	text-decoration: none;
	color: inherit;
}

.link1{
	color: red;
font-weight: bold;
text-decoration: none;}

.text1{
	font-size: 30px;
	font-weight: bold;
}
.text2{
	font-size: 25px;
	font-weight: bold;
}
.text3{
	font-size: 19px;
	font-weight: bold;
}

.texto-3{
	text-align: justify;
	text-transform: uppercase; /** altas **/
	text-transform: lowercase; /** bajas **/
	text-transform: capitalize; /** alta en la primera letra de cada palabra */
	line-height: 1; /* internlineado */
	letter-spacing:3px;
	color: green;
	word-spacing: 10px;
}

body{
	/* colores de fondo de un elemneto */
	background-color: skyblue;
}

