.title{
	/* más usados */

	/*color:#fff000;*/
	/*color:rgba(120,23,45,0.5);*/
	
	/*color:blue;*/
	/*color:#fff000;*/
	/*color:rgb(124,27,93);*/
	/*color:hsl(275deg, 75%, 43%);*/
	/*color:rgba(120,23,45,0.5);*/
	/*color:hsla(275deg,75%,43%,0.6)*/
	text-align:center;
}

.texto1{
	font-size: 30px;
	font-weight: bold;
}
.texto2{
	text-align: right;
	font-size: 20px;
}

